[submodule "NathanArjunWebFramework"]
	path = NathanArjunWebFramework
	url = https://github.com/nlintz/NathanArjunWebFramework.git
[submodule "PickleMonger"]
	path = PickleMonger
	url = https://github.com/nlintz/NathanArjunWebFramework.git
