<html>
	<head>
		<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href="static/css/style.css" rel="stylesheet">
		<style type="text/css">
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
		</style>
	</head>
	<body>
		<!-- navbar -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<!-- brand -->
					<a class="brand" href="/">
						<strong>HackedNews</strong>
					</a>
					<!-- nav content -->
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li>
							</li>
						</ul> 
					</div>
				</div>
			</div>
		</div>
		<!-- main body -->
		<div class="container">
			<!-- content -->
			<h1>Hacked News</h1>
			<table class="table table-striped table-bordered">
				<tr>
					<th><center>Title</center></th>
					<th><center>Vote</center></th>
				</tr>
				{% for title,link in titleLinks.items()%}
				<tr>
					<td>
						<a href= {{link}} target="_blank"><strong class="title">{{title}}</strong></a>
						<span class="label" data-title="{{ title }}">Success</span>
					</td>
					<td>
						<center>
							<div class="btn-group">
								<button class="btn btn-up" data-title="{{ title }}"><i class="icon-thumbs-up" ></i></button>
								<button class="btn btn-down" data-title="{{ title }}"><i class="icon-thumbs-down"></i></button>
							</div>
						</center>
					</td>
				</tr>
				{% end %}
			</table>

			<!-- footer -->
			<footer class="footer">
				<div class="container">
					<p class="pull-right">
						<a href="#">Back to Top</a>
					</p>
					<p>@ 2013 Nathan Lintz, Abe Kim</p>
				</div>
			</footer>
		</div>

		<!-- js -->
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="static/javascript/vote-handler.js"></script>
		<script src="static/javascript/color-handler.js"></script>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>

	</body>
</html>