	<li >
      <a href="/">
        <i class="icon-home icon-white"></i>
        Home
      </a>
    </li>
    <li class=>
      <a href="/reddit">
        Reddit
      </a>
    </li>
    <li class=>
      <a href="/techcrunch">
        Tech Crunch
      </a>
    </li>
    <li class=>
      <a href="/metafilter">
        MetaFilter
      </a>
    </li>
    <li class=>
      <a href="/slashdot">
        SlashDot
      </a>
    </li>
    <li class=>
      <a href="/digg">
        Digg
      </a>
    </li>